<div class="row">
    <div class="col-md-4">
        <img class="w-100" [src]="imgPrefix+movieDetails.poster_path" >
    </div>
    <div class="col-md-6">
        <h2 class="fw-bold">
            {{movieDetails.title}}
        </h2>
        <p class="text-muted p-2">{{movieDetails.overview}}</p>

        <hr class="w-25"/>
        <h4 class="ms-4 ps-1">Genres</h4>
            <ul>
                <li *ngFor="let movie of movieDetails.genres">{{movie.name}}</li>
            </ul>
        <hr class="w-25"/>

        <p>revenue : {{movieDetails.revenue}}</p>
    </div>
</div>