<h3 class="ms-3 py-5 my-4">Login Now</h3>

<div *ngIf="error" class="alert m-auto alert-danger w-25 p-1 mb-4">
    <span>{{ error }}</span>
</div>

<!-- <h3>{{registerForm.get('first_name')?.errors|json}}</h3> -->

<form class="text-center w-ph2 shadow-lg w-ph2" (ngSubmit)="submitLogin(LoginForm)" [formGroup]="LoginForm">

    <label for="email" class="mt-4">email</label>
    <input type="text" formControlName="email" class="form-control w-50 w-50 mx-auto my-1" id="email" />
    <div *ngIf="
      LoginForm.get('email')?.errors && LoginForm.get('email')?.touched
    " class="alert alert-danger my-2 w-25 mx-auto my-2 p-1">
        <p *ngIf="LoginForm.get('email')?.errors?.['required']" class="mb-0">
            email is required
        </p>
        <p *ngIf="LoginForm.get('email')?.errors?.['email']" class="mb-0">
            email invalid is 3
        </p>
    </div>

    <label for="password" class="mt-4">password</label>
    <input type="password" formControlName="password" class="form-control w-50 w-50 mx-auto my-1" id="password" />
    <div *ngIf="
      LoginForm.get('password')?.errors &&
      LoginForm.get('password')?.touched
    " class="alert alert-danger my-2 w-25 mx-auto my-2 p-1">
        <p *ngIf="LoginForm.get('password')?.errors?.['required']" class="mb-0">
            password is required
        </p>
        <p *ngIf="LoginForm.get('password')?.errors?.['pattern']" class="mb-0">
            password must start with upper case then...
        </p>
    </div>

    <button [disabled]="LoginForm.invalid" type="submit" class="btn btn-outline-light my-3 fs-5 fw-bold border-2">
        login
    </button>
</form>