<h3 class="ms-3 py-1 my-3">Register Now</h3>

<div *ngIf="error" class="alert m-auto alert-danger w-25 p-1 mb-2">
  <span>{{ error }}</span>
</div>

<!-- <h3>{{registerForm.get('first_name')?.errors|json}}</h3> -->

<form  [formGroup]="registerForm" (ngSubmit)="submitRegister(registerForm)"  class="text-center shadow-lg w-ph2">
  <label for="first_name" class="my-1">first_name</label>
  <input type="text" formControlName="first_name" class="form-control my-1 w-50 mx-auto" id="first_name" />
  <div *ngIf="
      registerForm.get('first_name')?.errors &&
      registerForm.get('first_name')?.touched" class="alert alert-danger w-25 mx-auto my-2 p-1">
    <p *ngIf="registerForm.get('first_name')?.errors?.['required']" class="mb-0">
      first_name is required
    </p>
    <p *ngIf="registerForm.get('first_name')?.errors?.['minlength']" class="mb-0">
      first_name minLength is 3
    </p>
    <p *ngIf="registerForm.get('first_name')?.errors?.['maxlength']" class="mb-0">
      first_name maxLength is 8
    </p>
  </div>

  <label for="last_name" class="mt-4">last_name</label>
  <input type="text" formControlName="last_name" class="form-control w-50 w-50 mx-auto my-1" id="last_name" />
  <div *ngIf="
      registerForm.get('last_name')?.errors &&
      registerForm.get('last_name')?.touched
    " class="alert alert-danger my-2 w-25 mx-auto my-2 p-1">
    <p *ngIf="registerForm.get('last_name')?.errors?.['required']" class="mb-0">
      last_name is required
    </p>
    <p *ngIf="registerForm.get('last_name')?.errors?.['minlength']" class="mb-0">
      last_name minLength is 3
    </p>
    <p *ngIf="registerForm.get('last_name')?.errors?.['maxlength']" class="mb-0">
      last_name maxLength is 8
    </p>
  </div>

  <label for="age" class="mt-4">age</label>
  <input type="number" formControlName="age" class="form-control w-50 w-50 mx-auto my-1" id="age" />
  <div *ngIf="registerForm.get('age')?.errors && registerForm.get('age')?.touched"
    class="alert alert-danger w-25 mx-auto my-2 p-1 my-2">
    <p *ngIf="registerForm.get('age')?.errors?.['required']" class="mb-0">
      age is required
    </p>
    <p *ngIf="registerForm.get('age')?.errors?.['min']" class="mb-0">
      age min value is 18
    </p>
    <p *ngIf="registerForm.get('age')?.errors?.['max']" class="mb-0">
      age max value is 50
    </p>
  </div>

  <label for="email" class="mt-4">email</label>
  <input type="text" formControlName="email" class="form-control w-50 w-50 mx-auto my-1" id="email" />
  <div *ngIf="
      registerForm.get('email')?.errors && registerForm.get('email')?.touched
    " class="alert alert-danger my-2 w-25 mx-auto my-2 p-1">
    <p *ngIf="registerForm.get('email')?.errors?.['required']" class="mb-0">
      email is required
    </p>
    <p *ngIf="registerForm.get('email')?.errors?.['email']" class="mb-0">
      email invalid is 3
    </p>
  </div>

  <label for="password" class="mt-4">password</label>
  <input type="password" formControlName="password" class="form-control w-50 w-50 mx-auto my-1" id="password" />
  <div *ngIf="
      registerForm.get('password')?.errors &&
      registerForm.get('password')?.touched
    " class="alert alert-danger my-2 w-25 mx-auto my-2 p-1">
    <p *ngIf="registerForm.get('password')?.errors?.['required']" class="mb-0">
      password is required
    </p>
    <p *ngIf="registerForm.get('password')?.errors?.['pattern']" class="mb-0">
      password must start with upper case then...
    </p>
  </div>

  <button [disabled]="registerForm.invalid" type="submit" class="btn btn-outline-light my-3 fs-5 fw-bold border-2">
    register
  </button>
</form>